@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
  background-color: #181516;
  width: 100%;
  height: 238px;
}

.h-list {
  color: #FFFFFF;
  font: roboto;
  font-weight: medium;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px;
}

nav {
  display: inline-block;
  position: absolute;
  top: 100px;
  right: 200px;
}

