@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
  background-color: #181516;
  width: 100%;
  height: 238px;
}

nav {
  display: inline-block;
  position: absolute;
  top: 100px;
  right: 200px;
}

input, textarea {
  width: 306px;
  height: 36px;
  /* Base / White */
  background: #FFFFFF;
  /* Gray / 100 */
  border: 1px solid #546275;
  box-sizing: border-box;
  /* Light / Elevation / 200 */
  box-shadow: 0px 1px 2px rgba(55, 65, 81, 0.08);
  border-radius: 4px;
  /* top/bottom right/left */
  margin: 6px 0px;
}

button {
  width: 162px;
  height: 40px;
  background: #C4C4C4;
  border-radius: 5px;
  color: #464646;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* auto - pega o tamanho width total da mãe e divide por 2 */
  margin: 0px auto;
}

.content-dogs {
  background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  height: 530px;
  margin: 0;
}

footer {
  background-color: #B6B6B6;
  display: flex;
  /* top: 840px; */
  height: 130px;
  width: 100%;
  position: absolute ;
}

.h-list {
  color: #FFFFFF;
  font: roboto;
  font-weight: medium;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px;
}

.foo-paraf {
  color: black;
  display: inline-block;
  font-family: Roboto;
  position: absolute;
  font-style: normal;
  font-weight: 500px;
  font-size: 20px;
  left: 43.9%;
  top: 100px;
  width: 170px;
  height: 21px;
}

.doguinho {
  border: none;
  position: relative;
  width: 90px;
  height: 80.68px;
  top: 18.9px;
  Left: 44.9999%;
}

.cachorros {
  display: flex;
  background: #B6B6B6;
  border-radius: 15px;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 75px;
  margin-bottom: 60px;
  width: 250px;
  height: 350px;
}

.cachorros-imagens {
  border-radius: 15px;
  width: 250px;
  height: 300px;
}

.sec-paraf {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align:center;
  text-transform: uppercase;
  margin-top: 12px;
}

/* .sec-container{
  margin: 100px 100px 100px 100px;
} */

.container-contato {
width: 1108px;
height: 513px;
background: #FFFFFF;
border: 2px solid #B6B6B6;
box-sizing: border-box;
border-radius: 20px;
margin: 100px 100px 100px 160px;
display: flex;
}

.dog-contato {
width: 300px;
height: 449.95px;
border-radius: 10px;
margin: 31px 10px 32px 21px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 700px;
  height: 500px;
}

.column-form {
  display: flex;
  flex-direction: column;
}

.container-column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title-contact {
  color: #2E2E2E;
  width: 100%;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
